.light-shadow {
  box-shadow: 21px 12px 23px 11px darkred;
}

.copy {
  font-family: "Roboto", sans-serif;
}

.linear-gradient-redorangeyellow {
  background: linear-gradient(to right, red, orange, yellow);
}

.box-border {
  outline: 2px;
  outline-color: linear-gradient(to right, red, orange, yellow);
}
