.light-shadow {
  box-shadow: 21px 12px 23px 11px darkred;
}

.copy {
  font-family: "Roboto", sans-serif;
  color: rgba(7, 7, 7, 0.6);
}

.copy-link {
  font-family: "Roboto", sans-serif;
  color: rgba(7, 7, 7, 0.6);
  text-decoration-line: underline;
}

/* 
.linear-gradient-redorangeyellow {
  background: linear-gradient(to right, red, orange, yellow);
}

.linear-gradient-orangeyellowgreen {
  background: linear-gradient(orange, yellow, green);
}

.linear-gradient-yellowgreenblue {
  background: linear-gradient(yellow, green, blue);
}

.linear-gradient-greenbluepurple {
  background: linear-gradient(green, blue, purple);
}
 */

.fancy-border {
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, red, orange, yellow);
  border-image-slice: 1;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25vh;
  background: white;
}

.box {
  width: 100px;
  height: 60px;
  margin-right: 10px;
}

.move-left {
  margin-right: auto;
  width: 110px;
  margin-left: 10px;
  padding-top: 2vh;
}
